body{
    background-color: rgb(255, 151, 151);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    background-color: rgb(84, 84, 209);
}